/* 
1.Posicionamiento
2.Modelo de caja
3.Tipografía
4.Visuales
5.Otros 
*/

:root {
    /* colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #1b1a19;
    --black: #000;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
  }
  
  * {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  .main-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    width: 100%;
    /* padding: 30px; */
    font-size: 40px;
    text-align: center;
    background: rgb(255, 255, 255);
    
  }
  
  @media screen and (max-width: 320px) {
    .main-banner {   
      height: 40vh;
    }
    }
  .main-banner h2{
    color: rgb(0, 0, 0);
  }
  

  .main-banner h3{
    color: rgb(0, 0, 0);
    font-size: 2.1rem;
    font-weight: 300;
    padding-top: 1.5rem;
  }
  
  .main-banner img{
    width: 60px;
    animation: rotation 18s infinite linear;
  }
  main{
     /* display: flex; */
     justify-content: center;
     align-items: center;
     width: 100%;
     height: auto;
     background-color: white   ;
  }
  .social-container{
  width: 100%;
  height: 30vh;
  }
  
  .social-icons{
    /* margin-top: 3em; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
  }
  
  .social-icons a img{
    width: 64px;
    z-index: 0;
  }
  
  /* Add a gray background color with some padding */
  body {
  font-family: Arial;
  background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
  width: 100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  }

  .leftcolumn .h1{
    text-align: center;
    margin: 2rem 0px;
}

.leftcolumn .h1 h1{
    font-size: 4rem;
    margin-bottom: 3rem;
}

.leftcolumn .paragraph{
    margin: 1rem 3.6rem;
}



.leftcolumn .image-box{
    margin: 2rem 0rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.leftcolumn .image-box img{
    margin: 2rem 0rem;
     width: 80%;
}

.leftcolumn .video-box {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.leftcolumn .paragraph{
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.leftcolumn .paragraph p{
    text-align: left;
    font-size: 2.7rem;;
    font-weight:600;
}

.leftcolumn .return{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 15vh;
  margin: 3rem 0;
}
  
  
  
  /* Fake image */
  .fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
   background-color: white;
   padding: 20px;
   margin-bottom: 20px;
  }
  
  

  .card h2{
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    }
  
  .card h5{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  }
  
  .card .fakeimg{
  background-image:url("https://images.unsplash.com/photo-1584758965157-3ee511509003?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom:1rem;
  }
  
  .card p{
  font-size: 1.5rem;
  line-height: 1.2;
  }
  /* Clear floats after the columns */
  .row:after {
  content: "";
  display: table;
  clear: both;
  }
  
  
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
  }
 
  .go-back{
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  /* margin-bottom: 60px; */
  }

  .btn {
    background-color: rgb(0, 0, 0);
    color: black;
    border: 6px solid #000; /* Green */
    width: 15%;
    height: 3.6em;
    border-radius: 15px;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  @media screen and (max-width: 600px) {
    .btn{
      width: 60%;
    }
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }