* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
  }

  body{
      background-color: rgba(250, 190, 190, 0.863);
  }

  body .header{
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  body .header img{
    width: 303px;
}

main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

main div{
    height:51vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 1.5rem;
}

main div img{
    width: 300px;
}

main div a{
   font-weight: 600;
   font-size: 2.1rem;
   color: black;
}